node_modules
dist
.vscode
.cache
PNG/Buttons
PNG/Car_Effects
PNG/Game_Bonus_Items
PNG/Game_Props_Items
PNG/Decor
PNG/Level_Menu
PNG/Main_UI
PNG/Road_01
PNG/Road_02
PNG/Setting
PNG/You_Lose
PNG/You_Win